.App {
  text-align: left;
  height: 600px;
  width: 600px;
  padding: 5%;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  color: black;
  border: 2px solid lightgray;
  box-shadow: 5px 5px lightgray;
  padding: 1%;
}

.line {
  border: 2px solid lightgray;
}

.Question {
  box-shadow: gray;
}

.Problem {
  text-align: center;
}




